.box-products {
    padding: 50px 0;

    // .box-products__container

    &__container {
    }

    // .box-products__title

    &__title {
        text-transform: uppercase;
        font-size: 19px;
        text-align: center;
    }

    // .box-products__wrapper

    .box-products-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
        grid-gap: 20px;

        @media screen and (max-width: 991.98px) {
            grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
            grid-gap: 10px;
        }

        // .box-products-wrapper__item
    
        &__item {
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            margin-top: 15px;
            text-align: center;

            @media screen and (max-width: 991.98px) {
                height: 450px;
            }

            @media screen and (max-width: 767.98px) {
                height: auto;
            }
        }
    
        // .box-products-wrapper__block-img
    
        &__block-img {
            height: 315px;
            // width: 320px;
            display: inline-block;


            @media screen and (max-width: 991.98px) {
                height: auto;
            }

            & img {
                width: 100%;
                display: block;
            }
        }
    
        // .box-products-wrapper__name
    
        &__name {
            display: block;
            line-height: 150%;
            text-transform: uppercase;
            padding-top: 1em;
            font-size: 12px;
            color: #000;
            text-decoration: none;
        }
    
        // .box-products-wrapper__prices
    
        &__prices {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 900;
        }
    
        // .box-products-wrapper__btn
    
        &__btn {
            border: 1px solid #f2f2f2;
            border-radius: 2px;
            margin-top: 10px;
            font-size: 12px;
            padding: 0.35em 0.85em;
            transition: all 0.3s;

            &:hover {
                background-color: rgba(0,0,0,0.8);
                color: #fff;
                border: 1px solid rgba(0,0,0,0.8);
            }
        }

        & span._icon-eye {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 18px;
            position: absolute;
            top: 5px;
            right: 5px;
            background: #f2f2f2;
            color: #000;
            cursor: pointer;

            @media screen and (max-width: 991.98px) {
                display: none;
            }
        }
    }

    & .box-products-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.5em;
        padding-bottom: 0.5em;

        & a {
            text-decoration: none;
            color: #000;
        }

        &__list {
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0 10px;
        }

        &__item {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }

        &__link {
            font-size: 13px;

            &.active {
                color: #6d6a6a;
            }
        }
    }




}