.change-password {

    // .change-password__container

    &__container {
    }

    // .change-password__wrapper

    &__wrapper {
    }

    // .change-password__title

    &__title {
        margin-bottom: 2em;
        line-height: 40px;
        font-size: 1.4em;
    }

    // .change-password__form

    .change-password-form {

        // .change-password-form__item
    
        &__item {
            max-width: 325px;

            & label {
                line-height: 2;
                font-size: 13px;
            }

            & input {
                display: block;
                height: 40px;
                min-height: 40px;
                width: 100%;
                padding: 13px 30px;
                border: 1px solid #d8d8d8;
                line-height: 1;
                outline: none;
                transition: all 0.3s;

                &.error {
                    border-color: red;
                }
            }
        }

        & button[type="submit"] {
            margin-top: 1em;
            background-color: #000;
            border-color: #f2f2f2;
            border: 0;
            color: #fff;
            font-size: 12px;
            border-radius: 2px;
            padding: 0.35em 0.85em;
            transition: all 0.3s; 

            &:hover {
                background-color: rgba(0,0,0,0.8);
                border-color: rgba(0,0,0,0.8);
                color: #fff;
            }
        }
    }
}


