.contact {
    margin-bottom: 40px;

    // .contact__container

    &__container {
    }

    // .contact__title

    &__title {
        font-size: 19px;
        text-transform: uppercase;
        text-align: start;
        line-height: 1;
        margin-top: 10px;
    }

    // .contact__wrapper

    .contact-wrapper {
        display: flex;
        padding: 0.625rem;

        @media screen and (max-width: 767.98px) {
            flex-direction: column;
        }

        &-item {
            width: 50%;
            
            @media screen and (max-width: 767.98px) {
                width: 100%;
            }
        }

        // .contact-wrapper__block-img
    
        &__block-img {
            & img {
                max-width: 450px;
                width: 100%;
            }
        }
    
        // .contact-wrapper__info
    
        .contact-wrapper-info {
            padding: 0 20px;

            @media screen and (max-width: 767.98px) {
                padding: 0;
            }
    
            // .contact-wrapper-info__item
        
            &__item {
                margin: 1em 0;
                font-weight: 700;
                font-size: 14px;

                & span {
                    text-transform: uppercase;
                }

                & a {
                    display: block;
                    text-decoration: none;
                    color: #E98174;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}



