.basket-register {
    margin-bottom: 40px;

    // .regidter__container

    &__container {

        & .basket-register-btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1em;
            border: 1px solid #f2f2f2;
            font-size: 12px;
            border-radius: 2px;

            & a {
                display: inline-block;
                padding: 0.35em 0.85em;
                text-decoration: none;
                transition: all 0.3s;
            }

            & button {
                display: inline-block;
                padding: 0.35em 0.85em;
                border: none;
                transition: all 0.3s;
            }

            & a:hover, & button:hover {
                background: #000;
            }
        }
    }

    // .regidter__wrapper

    &__wrapper {
        position: relative;
        border: 1px solid #d8d8d8;
        padding: 20px;

        // .basket-register-footer {
        //     position: absolute;
        //     left: 20px;
        //     bottom: 20px;
        // }

        & h4 {
            font-size: 18px;
        }
    }

    // .regidter__form

    & .basket-register-form {
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
        row-gap: 15px;
        padding-bottom: 40px;

        @media screen and (max-width: 991.98px) {
            flex-direction: column;
        }


        // .basket-basket-basket-register-form__container
    
        &__container {
            width: 50%;

            @media screen and (max-width: 991.98px) {
                width: 100%;
            }

            // & input[type="checkbox"] {
            //     display: none;

            //     &:checked ~ label::after {
            //         display: block;
            //     }

            //     & ~ label {
            //         text-align: start;
            //         width: 18.5em !important;
            //         position: relative;

            //         @media screen and (max-width: 991.98px) {
            //             width: 100% !important;
            //             margin-left: 10.5em;
            //         }

            //         @media screen and (max-width: 575.98px) {
            //             margin-left: 0;
            //         }

            //         &::before {
            //             content: '';
            //             display: inline-block;
            //             width: 18px;
            //             height: 18px;
            //             min-width: 18px;
            //             position: relative;
            //             top: 5px;
            //             background: transparent;
            //             border: 1px solid #d8d8d8;
            //             margin-right: 5px;
            //         }

            //         &::after {
            //             -webkit-transform: rotate(117deg);
            //             -moz-transform: rotate(117deg);
            //             -o-transform: rotate(117deg);
            //             -ms-transform: rotate(117deg);
            //             transform: rotate(117deg);
            //             content: '';
            //             display: none;
            //             height: 6px;
            //             left: 4px;
            //             position: absolute;
            //             top: 10px;
            //             width: 10px;
            //             border-style: solid;
            //             border-width: 2px;
            //             border-left: none;
            //             border-bottom: none;
            //         }
            //     }
            // }
            
        }
    
        // .basket-basket-basket-register-form__wrapper
    
        .basket-register-form-wrapper {

            &#another-address {
                display: none;

                & .basket-register-form-wrapper__item {
                    display: flex;
                }

                &.active {
                    display: block;
                }
            }

            & .input-chackbox {
                display: flex;
                // justify-content: end;
                margin-top: 5px;
                margin-left: 10.5em;

                @media screen and (max-width: 991.98px) {
                    margin-left: 0;
                }

                & label {
                    width: 19.5em !important;
                }

                // @media screen and (max-width: 991.98px) {
                //     // justify-content: center;
                // }
                & input {
                    // display: none;
                }
            }
            


            // .basket-basket-basket-basket-register-form-wrapper__inner
        
            &__inner {

                &.active-form {
                    display: none;

                    &.active {
                        display: block;
                    }
                }

                & label {
                    display: inline-block;
                    width: 10em;
                    text-align: end;
                    margin-right: 5px;

                    @media screen and (max-width: 575.98px) {
                        display: block;
                        width: auto;
                        text-align: start !important;
                        margin-bottom: 5px;
                    }
                }

                & select {
                    max-width: 280px;
                    width: 100%;
                    border: 1px solid #d8d8d8;
                    font-size: 14px;
                    padding: 13px 30px;
                    line-height: 1;
                    min-height: 35px;
                    outline: none;
                    transition: all 0.3s;


                }
                
            }
        
            // .basket-basket-basket-basket-register-form-wrapper__item
        
            &__item {
                margin-bottom: 10px;

                @media screen and (max-width: 575.98px) {
                    display: flex;
                    flex-direction: column;

                    &.input-radio {
                        flex-direction: inherit;
                    }
                }
                
                &.textarea {
                    display: flex;
                    align-items: center;
                    

                    @media screen and (max-width: 575.98px) {
                        align-items: flex-start;
                    }

                    & textarea {
                        max-width: 280px;
                        width: 100%;
                        min-height: 50px;
                        border: 1px solid #d8d8d8;
                        color: #000;
                        padding: 13px 30px;
                        margin-bottom: 4px;
                        line-height: 1;
                        height: auto;
                        outline: none;
                        resize: vertical;
                        transition: all 0.3s;

                        &:focus {
                            border-color: #000;
                        }
                    }
                }

                

                &.password {
                    & input {
                        max-width: 250px;
                        width: 100%;
                    }
                }

                & label {
                    width: 10em;
                    display: inline-block;
                    line-height: 30px;
                    text-align: end;
                    margin-right: 5px;
                    
                    @media screen and (max-width:575.98px) {
                        width: auto;
                        text-align: start !important;
                    }
                }

                & input {
                    max-width: 280px;
                    width: 100%;
                    border: 1px solid #d8d8d8;
                    font-size: 14px;
                    padding: 13px 30px;
                    line-height: 1;
                    min-height: 35px;
                    outline: none;
                    transition: all 0.3s;

                    &:focus {
                        border-color: #000;
                    }
                }


                & .message {
                    display: none;
                }
            }
        
            // .basket-basket-basket-register-form-wrapper__country-for-phone
        
            &__country-for-phone {
            }
        }
    }
}



.input {
}

.address-data {
}
.input-radio {
    display: flex;
    align-items: center;
    margin-left: 11em;

    @media screen and (max-width: 575.98px) {
        margin-left: 0;
    }
    // .input-radio__inner

    &__inner {
        text-align: center;
        & label {
            width: auto !important;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;

            &::before {
                content: '';
                display: inline-block;
                width: 18px;
                height: 18px;
                min-width: 18px;
                background: transparent;
                border: 1px solid #d8d8d8;
                border-radius: 50%;
                margin-right: 5px;
                cursor: pointer;
            }

            &::after {
                content: '';
                transform: scale(0);
                width: 14px;
                min-width: 14px;
                height: 14px;
                position: absolute;
                left: 3.5px;
                top: 3.5px;
                background: #000;
                border-radius: 50%;
                transition: all 0.3s;
            }
        }
        & input {
            display: none;

            &:checked ~ label::after{
                transform: scale(1);
            } 
        }

        & .basket-register-footer {
            position: absolute;
            left: 20px;
            bottom: 20px;
        }
    }
}

