@import './normalize';



@font-face {
    font-family: 'Nunito-Regular';
    src: url('../font/Nunito-Regular.ttf') format('ttf');
    src: url('../font/Nunito-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../font/OpenSans-Regular.ttf') format('ttf');
    src: url('../font/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Nunito-Regular', sans-serif;
}

body {
    font-family: 'OpenSans-Regular', sans-serif;
    min-width: 320px;
    font-size: 14px;

    // @media screen and (max-width: 767.98px){
    //     padding-top: 120px;
    // }

    &.look {
        overflow: hidden;
    }

    &.store {
        & .store__box-products {
            padding-top: 0;
        } 
    }
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }

.box-slider__btn, .box-products-wrapper__btn, .form__btn button, .packing-detalies-form__btn button, .product-popup-bootom__item button,
 .summary-btns__btn.btn-two a, .basket-step2-wrapper__item.register form button, .basket-step2-wrapper__item.no-register form button, .login-form__btn,
 .basket-register-btns a, .basket-register-btns .basket-register-btns__one, .basket-register-btns .basket-register-btns__two, .basket-step3__btns a, .form-register button, .login-wrapper-form button, .error-form button, .addres .addres__btn {
    background-color: #E98174;
    color: #fff !important;
}

.btn-link {
    display: inline-block;
    background-color: #000;
    border-color: #f2f2f2;
    border: 0;
    color: #fff;
    font-size: 12px;
    text-transform: initial;
    text-decoration: none;
    border-radius: 2px;
    padding: 0.35em 0.85em;
    margin-top: 1em;
    transition: all 0.3s;

    &:hover {
        background-color: rgba(0,0,0,0.8);
        border-color: rgba(0,0,0,0.8);
    }
}



._container {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (max-width: 991.98px) {
        max-width: 700px;
    }
}

._title {
    text-align: center;

    @media screen and (max-width: 767.98px) {
        font-size: 19px !important;
        text-align: start;
    }
}

.alert-success{
    background-color: #e5f2da;
    border: 0;
    color: #5a9986;
    padding: 15px 60px;
    position: relative;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    display: block;
}

.box-products-modal-one {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: radial-gradient(ellipse farthest-corner at center center, rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &.active {
        opacity: 1;
        visibility: visible;

        & .box-products-modal-one__popap{
            right: 0;
        }
    }
    
    // .box-products-modal__popap

    &__popap {
        max-width: 375px;
        width: 100%;
        height: 100%;
        position: absolute;
        right: -150%;
        top: 0;
        padding: 0 20px 20px;
        background: #fff;
        overflow: auto;
        transition: all 0.3s;
    }

    // .box-products-modal__header

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    // .box-products-modal__title

    &__title {
        font-size: 16px;
        letter-spacing: 4px;
        line-height: 0.94;
    }

    // .box-products-modal__close

    &__close {
    }

    // .box-products-modal__inner

    &__inner {
    }

    // .box-products-modal__block-img

    &__block-img {
        & a img {
            width: 100%;
        }
    }

    // .box-products-modal__info

    .box-products-modal-info {
        display: flex;
        margin-top: 1em;

        // .box-products-modal-info__item

        &__item {
            width: 50%;
            font-size: 12px;
        }

        // .box-products-modal-info__label

        &__label {
            margin-bottom: 5px;
            color: #6d6a6a;
        }

        // .box-products-modal-info__value

        &__value {
        }
}

    // .box-products-modal__description

    &__description {
        font-size: 12px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    // .box-products-modal__evaluation

    &__evaluation {
        display: flex;
        align-items: center;
        font-size: 12px;

        & p {
            margin-right: 10px;
        }

        & div {
            font-size: 20px;
        }
    }

    // .box-products-modal__manufacturer

    .box-products-modal-manufacturer {
        font-size: 12px;
        margin: 5px 0px 8px;
       

        // .box-products-modal-manufacturer__label

        &__label {
        }

        // .box-products-modal-manufacturer__link

        &__link {
            color: #000;
            text-decoration: none;

            @media (hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
}

    // .box-products-modal__prices

    .box-products-modal-prices {
        display: flex;
        align-items: center;
        font-size: 12px;
        margin: 5px 0px 8px;

        // .box-products-modal-prices__label

        &__label {
        }

        // .box-products-modal-prices__price

        &__price {
        }
}

    // .box-products-modal__btn-add

    &__btn-add {
        width: 100%;
        background-color: #000;
        border-color: #f2f2f2;
        border: 0;
        color: #fff;
        font-size: 12px;
        text-transform: initial;
        -webkit-border-top-right-radius: 2px;
        -webkit-border-bottom-right-radius: 2px;
        -webkit-border-bottom-left-radius: 2px;
        -webkit-border-top-left-radius: 2px;
        -moz-border-radius-topright: 2px;
        -moz-border-radius-bottomright: 2px;
        -moz-border-radius-bottomleft: 2px;
        -moz-border-radius-topleft: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        padding: 10px 20px;
        margin: 20px 0;
        transition: all 0.3s;

        &:hover {
            background: rgba(0,0,0,0.8);
        }
    }
}

.box-products-modal-two {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: radial-gradient(ellipse farthest-corner at center center, rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &.active {
        opacity: 1;
        visibility: visible;

        & .box-products-modal-two__popap{
            right: 0;
        }
    }

    &__popap {
        max-width: 375px;
        width: 100%;
        height: 100%;
        position: absolute;
        right: -150%;
        top: 0;
        padding: 0 20px 20px;
        background: #fff;
        overflow: auto;
        transition: all 0.3s;
    }

    // .box-products-modal__header

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    // .box-products-modal__title

    &__title {
        font-size: 16px;
        letter-spacing: 4px;
        line-height: 0.94;
        text-transform: uppercase;
    }

    & .box-products-modal-two-body {
        margin-bottom: 10px;
        
        &__block-img {
            & img {
                display: block;
                width: 100%;
            }
        }

        & .info {
            padding: 10px;
            background-color: #f2f2f2;

            &__name {
                font-weight: 400;
            }

            & span {
                font-weight: 900;
            }
        }

        & .subinfo {
            padding: 10px;

            & span {
                font-weight: 900;
            }
        }
    }

    &__footer {
        padding-bottom: 20px;

        & .box-products-modal-two__btn {
            display: block;
            width: 100%;
            border-radius: 2px;
            text-transform: uppercase;
            padding: 10px;
            text-decoration: none;
            font-size: 12px;
            text-align: center;
            transition: all 0.3s;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &.rigth {
                color: #000;
                padding: 0.35em 0.85em;
                background-color: #fff;
                border: 1px solid #f2f2f2;

                &:hover {
                    background-color: rgba(0,0,0,0.8);
                    color: #fff;
                    border: 1px solid rgba(0,0,0,0.8);
            }
        }

            &.left {
                background-color: #000;
                border-color: #f2f2f2;
                border: 0;
                color: #fff;

                &:hover {
                    background: rgba(0,0,0,0.8);
                }
            }
        }
    }
}

.model-banks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: radial-gradient(ellipse farthest-corner at center center, rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &.active {
        opacity: 1;
        visibility: visible;

        & .model-banks__popap {
            right: 0;
        }
    }

		// .model-banks__popap

		&__popap {
            max-width: 375px;
            width: 100%;
            height: 100%;
            position: absolute;
            right: -150%;
            top: 0;
            padding: 0 20px 20px;
            background: #fff;
            // overflow: auto;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            color: #666;
		}

		// .model-banks__header

		&__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
		}

		// .model-banks__title

		&__title {
		}

		// .model-banks__close

		&__close {
            cursor: pointer;
		}

		// .model-banks__inner



		.model-banks-inner {
            height: 90%;
            // padding-bottom: 100px;
            overflow: auto;

             &::-webkit-scrollbar {
                width: 10px;
              }
              
              /* Track */
            &::-webkit-scrollbar-track {
                background: rgb(234, 234, 234);
                border-radius: 10px;
              }
               
              /* Handle */
              &::-webkit-scrollbar-thumb {
                background: #000; 
                border-radius: 10px;
              }


            // .model-banks-inner__title
    
            &__title {
                display: flex;
                align-items: center;
                text-transform: uppercase;
                font-weight: 400;
            }
    
            // .model-banks-inner__list
    
            &__list {
                max-width: 220px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(107px, 1fr));
                grid-gap: 5px;
                margin: 0 auto;
                text-align: center;
                list-style: none;
            }
    
            // .model-banks-inner__item
    
            &__item {
                justify-content: center;
                cursor: pointer;
                margin-bottom: 10px;

                &:hover .img{
                    
                    border: 1px solid #fb5642;
                }

                & .img {
                    border: 1px solid #666;
                    border-radius: 2px;
                    margin-bottom: 5px;
                }
                & .img img{
                    width: 100%;
                    padding: 1em;
                }
            }
    }
}

.product-popup-bootom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1030px;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 30px 20px;
    box-shadow: 2px 2px 8px #dedede;
    z-index: 9;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    @media screen and (max-width: 767.98px){
        display: none;
    }

    &__item {
        display: flex;
        align-items: center;

        & input {
            height: 40px;
            border: 1px solid #dedede;
            width: 40px;
            text-align: center;
            margin-right: 10px;
            transition: all 0.3s;
            outline: none;

            &:focus {
                border-color: #000;
            }
        }

        & button {
            border: none;
            border-radius: 2px;
            min-height: 44px;
            line-height: 1.35;
            padding: 0.35em 0.85em;
        }
    }

    &__photo {
        & img {
            max-height: 70px;
            margin-right: 15px;
        }
    }

    &__name {
        font-weight: 900;
        text-transform: uppercase;
    }
}



.full-version {
    display: none;
    font-size: 12px;
    color: #fff;
    background: #000;
    text-align: center;
    padding: 0.35em 0.85em;
    line-height: 1.35;

    @media screen and (max-width: 991.98px) {
        display: block;
    }
} 

.modal-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: radial-gradient(ellipse farthest-corner at center center, rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &.active {
        opacity: 1;
        visibility: visible;

        & .modal-form__popap {
            right: 0;
        }
    }

        // .modal-form__popap

        &__popap {
            max-width: 375px;
            width: 100%;
            height: 100%;
            position: absolute;
            right: -150%;
            top: 0;
            padding: 0 20px 20px;
            background: #fff;
            overflow: auto;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        // .modal-form__header

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
        }

        // .modal-form__title

        &__title {
            font-size: 16px;
            letter-spacing: 4px;
            line-height: 0.94;
            text-transform: uppercase;
        }

        // .modal-form__close

        &__close {
        }

        // .modal-form__body

        &__body {
        }

        // .modal-form__form

        .form-modal {

            // .form-modal__item
    
            &__item {
                margin-bottom: 5px;
                & label {
                    font-weight: normal;
                    color: rgb(144, 144, 144);
                    cursor: pointer;
                }

                & .input {
                    border: 1px solid #f4f4f4;
                    color: #000;
                    font-size: 14px;
                    padding: 13px 30px;
                    line-height: 1;
                    width: 100%;
                    height: auto;
                    border-radius: 2px;
                    outline: none;
                    resize: vertical;
                    transition: all 0.3s; 

                    &.error {
                        border-color: red;
                    }

                    &:focus {
                        border-color: #000;
                    }


                }

                & span {
                    display: none;
                    color: red;

                    &.error {
                        display: inline-block;
                    }
                }
            }
    
            // .form-modal__label
    
            &__label {
            }
    
            // .form-modal__mandatory
    
            &__mandatory {
            }
    
            // .form-modal__submit
    
            &__submit {
                display: inline-block;
                padding: 0.35em 0.85em;
                margin: 0;
                line-height: 1.35;
                font-size: 14px;
                margin-top: 5px;
                border: none;
                border-radius: 2px;
                background: #000;
                color: #fff;
            }
    }
}

input[type="checkbox"]  {
    display: none;

    &:checked ~ label::after {
        display: block;
    }

    & ~ label {
        // display: flex;
        // align-items: center;
        margin-right: 10px;
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            min-width: 18px;
            position: relative;
            top: 3px;
            background: transparent;
            border: 1px solid #d8d8d8;
            margin-right: 5px;
        }

        &::after {
            -webkit-transform: rotate(117deg);
            -moz-transform: rotate(117deg);
            -o-transform: rotate(117deg);
            -ms-transform: rotate(117deg);
            transform: rotate(117deg);
            content: '';
            display: none;
            height: 6px;
            left: 4px;
            position: absolute;
            top: 7px;
            width: 10px;
            border-style: solid;
            border-width: 2px;
            border-left: none;
            border-bottom: none;
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@import './header';
@import './header-basket-step';

.main {
    @import './box-slider';
    @import './box-custom';  
    @import './boxhead';  
    @import './box-products';  
    @import './box-question'; 
    @import './product'; 
    @import './basket';
    @import './basket-step2';
    @import './change-password';
    @import './basket-register';
    @import './basket-step3';
    @import './confirmation-step4';
    @import './store';

    & .collections .collections__wrapper .collections__baner img {
        width: 100%;
    }

    .collections .collections__wrapper .collections__title {
        text-align: center;
    }

    & .collections .collections__wrapper .collections__box-products .box-products__title {
        text-align: start
    }
    @import './contact';
    @import './register';
    @import './login';
    @import './benefits';
    @import './error';
    @import './panel';
    @import './panel-edit';
    @import './panel-addres';
    @import './panel-order';
}

@import './footer';