.register {
    margin-bottom: 40px;

    // .register__container

    &__container {

        // .register__container_container

        &_container {
        }
    }

    // .register__form

    .form-register {
        position: relative;
        font-size: 12px;

        // .form-register__item
    
        &__item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            position: relative;

            &.error {
                margin-bottom: 20px !important;
            }

            @media screen and (max-width: 499.98px) {
                flex-direction: column;
            }

            &:not(:last-child) {
                margin-bottom: 4px;
            }

            & label {
                width: 25%;
                display: inline-block;
                text-align: right;
                vertical-align: top;
                line-height: 35px;

                @media screen and (max-width: 499.98px) {
                    width: 100%;
                    text-align: start;
                }
            }

            & input {
                width: 100%;
                max-width: 280px;
                font-size: 14px;
                padding: 13px 30px;
                margin: 0 5px;
                line-height: 1;
                border: 1px solid #f4f4f4;
                border-radius: 2px;
                outline: none;
                transition: all 0.3s;

                &.error {
                    border-color: red;
                    
                }

                @media screen and (max-width: 499.98px) {
                    margin: 5px 0;
                }

                &:focus {
                    border-color: #000;
                }
            }

            & .message {
                display: none;
                position: absolute;
                left: 21.5em;
                bottom: 0;
                transform: translateY(100%);
                color: red;
                // margin-left: 21em;

                @media screen and (max-width: 991.98px) {
                    left: 14.5em;
                }

                @media screen and (max-width: 499.98px) {
                    left: 0;
                }
 
                &.error {
                    display: block;
                }
            }
        }
    
        // .form-register__additional
    
        &__additional {
            font-size: 18px;
            font-weight: 500;
        }
    
        // .form-register__clear
    
        &__clear {
            margin-bottom: 5px;
        }
    
        // .form-register__footer
    
        &__footer {

            margin-bottom: 5px;
        }

        &__block-btn {
            display: flex;
            align-items: center;
            justify-content: end;

            & button {
                display: inline-block;
                border: 1px solid #f2f2f2;
                border-radius: 2px;
                padding: 0.35em 0.85em;
                transition: all 0.3s;

                &:hover {
                    background: #000;
                }
            }
        }
    }

    // .register__title

    &__title {
        font-size: 18px;
        font-weight: 500;
    }
}

.input {
}
.massege {
}
.hint {
}
.basket-register-footer {
}
